name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build APK
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: master
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: MyAPK
          path: bin/*.apk
