name: Build APK Final
on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake

      - name: Build APK
        uses: ArtemGrinev/buildozer-action@v1.6.1
        with:
          command: buildozer android debug
        env:
          APP_ALLOW_ROOT: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Hasil-APK-Vivo
          path: bin/*.apk
